.vs/
Intrinsics/bin/
Intrinsics/obj/
packages/
ParseTables/bin/
ParseTables/obj/
PerformanceData/
Intrinsics.VC.db
CppDemo/Debug/
CppDemo/Release/
Debug/
Release/
CppDemo/x64/
x64/
*.user
Intrinsics.VC.VC.opendb
CppDemo/CMakeCache.txt
CppDemo/CMakeFiles/
CppDemo/Makefile
CppDemo/cpp-demo
