@model IntrinsicsDocs.DataSet
@using IntrinsicsDocs
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Intel Intrinsics Guide</title>
	<link rel="stylesheet" type="text/css" href="intrinsics.css">
</head>
<body>
	<p>The Intel Intrinsics Guide is an interactive reference tool for Intel intrinsic instructions,
	which are C style functions that provide access to many Intel instructions - including Intel® SSE, AVX, AVX-512, and more - without the need to write assembly code.</p>

	<p>Documentation version @Model.version, from @Model.date.</p>

	<p>This CHM was generated automatically by the tool. The source XML dataset is freely accessible on intel.com.</p>
</body>
</html>